<form [formGroup]="transferForm" (ngSubmit)="onSubmit()">
    <label>Cantidad</label><input formControlName="amount" type="number">



    <mat-form-field>
        <mat-label>Provincia</mat-label>
        <mat-select formControlName="prov" required (selectionChange)="onChangeofProvince($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let province of provinces; let i = index" [ngValue]="province.name" [value]="province.id">
                {{province.name}}
            </mat-option>
        </mat-select>
        <!--<mat-error *ngIf="providerForm.hasError('required')">Seleccione una provincia</mat-error>-->
        <!--<mat-hint>{{animalControl.value?.sound}}</mat-hint>-->
    </mat-form-field>

    <mat-form-field>
        <mat-label>Municipio</mat-label>
        <mat-select formControlName="town" required (selectionChange)="onChangeofMunicipio($event)">
            <mat-option>--</mat-option>
            <mat-option *ngFor="let town of towns" [value]="town.id">
                {{town.name}}
            </mat-option>
        </mat-select>
        <!--<mat-error *ngIf="providerForm.hasError('required')">Seleccione una provincia</mat-error>-->
        <!--<mat-hint>{{animalControl.value?.sound}}</mat-hint>-->
    </mat-form-field>



    <p *ngIf="!transferForm.valid">Contact is invalid or incomplete.</p>
    <div formGroupName="contact">
        <label>Nombre</label><input formControlName="name">
        <label>Email</label><input formControlName="email">
        <label>Phone</label><input formControlName="phone">
        <label>Direccion</label><input formControlName="address">
    </div>

    <button type="submit" [disabled]="!transferForm.valid">Submit</button>
</form>