.container {
    display: grid;
    background-color: azure;
}

ul {
    margin: 0;
    padding: 0;
}

.row {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 120px;
}

.titledescription {
    display: grid;
    grid-template-rows: 30% 70%;
}

img {
    width: 95px;
    height: 65px;
    border-radius: 10%;
}

.imagewrapper {
    display: grid;
    align-items: center;
    justify-items: center;
}

.titlewrapper {
    display: grid;
    background-color: blue;
}

h4 {
    display: grid;
    justify-items: center;
    align-items: center;
}

.limit {
    overflow: hidden;
    margin-top: 2px;
}

li:active {
    background-color: #004494;
    background: #004494;
}