@font-face {
    font-family: 'Lato';
    src: url('../../../assets/fonts/Black/Lato-Black.woff2') format('woff2'), url('../../../assets/fonts/Black/Lato-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Lato-Light';
    src: url('../../../assets/fonts/Light/Lato-Light.woff2') format('woff2'), url('../../../assets/fonts/Light/Lato-Light.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}